/* =====================
   Auth 共通レイアウト
===================== */
.auth-container {
    max-width: 560px;
    /* 見本に近い横幅 */
    margin: 80px auto 0;
    /* 上に余白、左右中央寄せ */
    padding: 0 16px;
    /* スマホ対策 */
    text-align: center;
}

.auth-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* =====================
   入力欄
===================== */

.auth-field {
    margin-bottom: 24px;
    text-align: left;
    /* ラベルと入力は左寄せ */
}

.auth-field label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.auth-field input {
    width: 100%;
    height: 32px;
    padding: 0 12px;

    border: 2px solid #ccc;
    border-radius: 4px;

    font-size: 16px;
    box-sizing: border-box;
}

/* フォーカス時（←ここ重要） */
.auth-field input:focus {
    outline: none;
    /* 青い枠を消す */
    border: 2px solid #000;
    /* 黒く・太く */
}

/* =====================
   ボタン
===================== */
.auth-button {
    width: 100%;
    /* 入力欄と完全一致 */
    height: 48px;

    background-color: #000;
    color: #fff;

    border: none;
    border-radius: 4px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    margin-top: 38px;
}

/* ホバー時 */
.auth-button:hover {
    opacity: 0.8;
}

.verify-btn{
    display:inline-block;
    background:#cac9c9;
    color:#000;
    padding:12px 32px;
    border:2px solid #000;   /* ← 黒枠 */
    border-radius:6px;
    font-weight:600;
    text-decoration:none;
    transition:0.2s;
    margin-bottom:40px;
}
.verify-btn:hover{
    background:#d5d5d5;
}

/* =====================
   リンク
===================== */
.auth-link {
    margin-top: 24px;
}

.auth-link a {
    color: #1e90ff;
    /* 見本っぽい水色 */
    font-size: 14px;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}

.verify-resend{
    background:none;
    border:none;
    color:#1a73e8;
    /* text-decoration:underline; */
    font-size:14px;
    cursor:pointer;
    padding:0;
}

/* =====================
   メール認証ページ専用
===================== */
.verify-wrap{
    text-align:center;
    margin-top:140px;
}

/* 説明文 */
.verify-message{
    font-size:18px;
    font-weight:600;
    line-height:1.8;
    margin-bottom:40px;
}




/* =====================
   エラー表示
===================== */
.auth-error {
    margin-top: 6px;
    font-size: 14px;
    color: #ff3333;
    text-align: left;
}